<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base.html}">
    <head>
        <title layout:fragment="pageTitle">Siw Music | My Playlist</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="song-list">
                <p th:if="${#lists.isEmpty(songs)}" style="color: lightgray; text-align: center;">
                    No track saved in playlist
                </p>

                <div class="song-card" th:each="song : ${songs}">
                    <img th:src="@{'/uploads/' + ${song.coverImagePath}}" alt="Copertina">

                    <div class="song-title" th:text="${song.title}">Titolo</div>

                    <div class="audio-player">
                        <audio controls th:src="@{'/uploads/' + ${song.filePath}}"></audio>
                    </div>

                    <div class="authors">
                        <span th:each="author, iterStat : ${song.authors}">
                            <span th:text="${author.name}"></span>
                            <span th:if="${!iterStat.last}"> - </span>
                        </span>
                    </div>
                    <!-- Bottone per rimuovere il brano dalla playlist -->
                    <form th:action="@{/user/playlist/toggle}" method="post">
                        <input type="hidden" name="songId" th:value="${song.id}" />
                        <button type="submit" style="margin-top: 10px;">❤️ Remove</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
